body {
}

.header {
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
    margin-top: 3rem
}

.title {
    font-size: 1.4rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: rgba(17, 24, 39, 1);
    text-decoration: none;
}

.name {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: rgba(75, 85, 99, 1);
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgba(107, 114, 128, 1);
}

.post-info {
    margin-top: 1.5rem;
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
}

.dt {
    font-size: 1.1rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: rgba(75, 85, 99, 1);
    margin: 1rem;
    margin-bottom: 3rem;
}

.dd {
    font-size: 1rem;
    line-height: 1rem;
    color: rgba(107, 114, 128,1);
}

textarea {
    width: 30rem;
    height: 10rem;
    font-size: 1.2rem;
}