@using Microsoft.JSInterop;

@model GestorRegRespuestaOperador;
@{
    DatosLlamadaViewModel Datos = Model.buscarDatosLlamadaActual();

}

<div class="container">
    <div class="header col-12">
        <div>
            <a class="title">
                Nombre Cliente: @Datos.nombreCliente.ToString()
            </a>
        </div>
        <span class="image"></span>
    </div>
    <dl class="post-info col-11">
        <div class="cr">
            <dt class="dt"> <b>Categoria Llamada: </b>  @Datos.CategoriaAMostrar.nombreCategoria.ToString()</dt>
            <dt class="dt"><b> Opcion Seleccionada: </b> @Datos.CategoriaAMostrar.OpcionLlamada.Nombre.ToString()</dt>
            <dt class="dt"><b> Sub-Opcion Seleccionada: </b> @Datos.CategoriaAMostrar.OpcionLlamada.subOpcionesLlamada[0].nombre.ToString()</dt>
            
        </div>
    </dl>
</div>

@section Scripts{

}