@model DatosLlamadaViewModel;
@{
    DatosLlamadaViewModel datos = new DatosLlamadaViewModel();
    
}

<div class="card">
    <div class="header">
        <div>
            <a class="title">
                Nombre: 
            </a>
        </div>
        <span class="image"></span>
    </div>
    <dl class="post-info">
        <div class="cr">
            <dt class="dt">Categoria: 
                .ToString()   </dt>
        </div>
        <div class="cr">
            <dt class="dt">Opcion: </dt>
        </div>
    </dl>
</div>