@using PPAI_IVR.Clases;
@using PPAI_IVR.Models.Clases;

@model GestorRegRespuestaOperador;

@{
    ViewData["Title"] = "Comunicarse con el operador";


}

<h1>El cliente se comunico contigo</h1>

<form>

    <div class="card">
        <div class="header">
            <div>
                <a class="title">
                    Nombre: 
                </a>
            </div>
            <span class="image"></span>
        </div>
        <dl class="post-info">
            <div class="cr">
                <dt class="dt">Categoria: </dt>
            </div>
            <div class="cr">
                <dt class="dt">Opcion: </dt>
            </div>
        </dl>
    </div>


    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}