@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p> <button class="btn btn-primary" asp-action="RegistrarLlamada">Registra una llamada</button>.</p>
</div>
