@model GestorRegRespuestaOperador
@{
    ViewData["Title"] = "CU28";
    Model.tomarConfirmacion();
}

<div class="text-center">
    <h3 class="display-4">El  "pedir tarjeta nueva"  se Ejecutó con exito</h3>
    <p> <a class="btn btn-primary" asp-action="index">Finalizando Llamada...... haga click para volver</a>.</p>
    
</div>
